*{margin: 0; padding: 0; font-family: sans-serif; text-transform: capitalize;}
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{

    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.head-text{
    max-width: 350px;
    margin-top: 140px;
 
}
h1 {
    font-size: 24px;
}
.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
   
}
p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.head-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line1 {
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line2 {
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line3 {
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#sideBar{
    width: 250px;
    height: 100vh;
    position: fixed;
    right:-250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    cursor: pointer;
    z-index: 2;
}
.about{
    display: flex;
    padding: 100px 0;
    align-items: center;
    flex-wrap: wrap;
}
.left-col{
    flex-basis: 50%;
}
.left-col img {
    width: 100%;
}
.right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;

}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
    text-transform: capitalize;

}
.about-text h3{
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    color: #797979;
}
.features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.row{
 width: 80%;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-wrap: wrap;

}
.feat-col{
    flex-basis: 25%;
    text-align: center;

}
.feat-btn{
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.feat-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

.course{
    padding: 100px 0;

}
.cr{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
}
.c-right{
    flex-basis: 50%;
}
.c-right img{
    width: 100%;
}
.c-left{
    flex-basis: 50%;
}
.ctext{
    max-width: 350px;
}
.ctext button{
    margin: 30px 0;
}
#offer button{
margin: 30px 0;
}
.conr{
    display: flex;
 align-items: center;
 flex-wrap: wrap;
}
.conr-left,.conr-right{
    flex-basis: 50%;
}
.conr-right img{
    width: 100%;
}
form{
    max-width: 350px;
    margin: 30px 0;
 
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #f67c92;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}
.set{
    margin-left: 80px;
}

.footer{
    padding: 50px 0 30px;

}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}
.fr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 80px;
}
.f-left{
    flex-basis: 50%;
    margin-top: 60px;
}
.f-right{
    flex-basis: 35%;
}
.flinks{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
}
.finfo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.flogo img{
    width: 100px;
}
.flogo button{
    padding: 12px 38px;
margin-top: 20px;
    font-size: 10px;
}
.ftext,.flogo{
    flex-basis: 40%;
}
.icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}





